.description_profile,
.propertys_values{
    display: flex;
    margin: 10px;
}

.description {
    width: 100%;
}

.avatar {
    border: 2px black solid;
}

.full_name {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.values {
    margin-left: 20px;
}