.message {
    display: flex;
    padding: 10px;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    width: 300px;
}

.wrapper {
    margin-left: 10px;
}

.userAvatar img {
    width: 55px;
    height: 55px;
    border: 2px black solid;
    border-radius: 50%;
}

.userName {
    font-weight: bold;
}