.my_posts {
    margin: 10px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border: 2px black solid;
    border-radius: 50%;
}

.poster {
    display: flex;
}

.name_content {
    margin-left: 10px;
}

.full_name {
    font-weight: bold;
}

.content {
    border: 1px black solid;
    margin-top: 10px;
    padding: 5px;
}