.create_post {
    margin: 10px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.text_area {
    width: 100%;
    margin-top: 10px;
    height: 55px;
}

.send {
    margin-left: 704px;
    margin-top: 10px;
    padding-right: 15px;
}