.app-wrapper {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header header"
    "sidebar content content";
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 15px;
}

.header {
    grid-area: header;
    height: 55px;
}

.sidebar {
    grid-area: sidebar;
    height: 325px;
}

.content {
    grid-area: content;
}

.header, .sidebar, .content {
    border: 2px black solid;
}

a {
    text-decoration: none;
}